.header {
  text-align: center;
  font-style: italic;
  font-size: 100px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 20px auto;
  font-size: 1000px;

}
