.header {
  text-align: center;
  font-style: italic;
  font-size: 100px;
  letter-spacing: 3px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1000px;
}
