.meal-list {
  display: flex;
  width: 45%;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  label {
    font-size: 20px;
  }
}

.meal-details {
  button {
    font-size: 14px;
    padding: 5px 10px;
  }
}
